@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&family=Poppins:wght@100;300;500&display=swap");

body {
  background-color: white;
  /* background:  linear-gradient(to top, #0f2027, #203a43, #2c5364); */
}

.section1 h1{
  font-family: 'Merriweather', serif;
}

.section2{
  background-image: url('/assets/register.gif');
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 40vmax;
}

.section1 form .inputfield{
  font-family: 'Poppins', sans-serif;
}

.section1 .login p{
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1024px) {
  .section1 form {
    height: 22%;
  }

  .section1 form .btnlog {
    height: 10%;
    font-size: 0.8vmax;
  }

  .section2 {
    background-size: 31vmax;
  }
}

@media screen and (max-width: 435px) {
  .loginpage{
    flex-direction: column;
    align-items: center;
  }

  .section2{
    flex: 1;
    background-position: 50% 20%;
  }

  .section1{
    flex: 1.2;
    justify-content: flex-end;
  }

  .section1 form {
    height: 35%;
    width: 100%;
  }

  .login{
    font-size: 1.1vmax;
  }
}